<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/stylecss.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>

<header>
    <a href="/">Главная</a>
    <a href="/?c=product&a=catalog">Каталог</a>
    <a href="/?c=user">Пользователи</a>
    <br>
</header>

<div id="content">{% block content %}{% endblock %}</div>

<footer>

</footer>


</body>
</html>